{% extends "partials/layout1.swig" %}
{% block content %}

  [[ subject = Reset your Password ]]
  <b>%recipient.greet%</b>,<br/>
  <br/>
  Looks like you're having trouble signing into your account. If you need to reset your password, simply click the button below:<br/>
  <br/>
  If you didn't request this, feel free to disregard this email.<br/>
  <br/>
  <span mc:edit="button">
    <a class="button" href="%recipient.domain%/reset/%recipient.token%" target="_blank">
      Reset Your Password
    </a>
  </span><br/>
  <br/>
  Thanks,<br/>
  <b>The Nitro Team</b>


{% endblock %}
