{% extends "partials/layout1.swig" %}
{% block content %}

  [[ subject = Welcome to Nitro ]]
  <b>%recipient.greet%</b>,<br/>
  <br/>
  Thanks for trying out Nitro! <br/>
  <br/>
  If you have any feature requests, feedback or questions, please don't hesitate to reach out to us at <a href="mailto:%recipient.replyToEmail%">%recipient.replyToEmail%</a>.<br/>
  <br/>
  <br/>
  <span mc:edit="button">
    <a class="button" href="%recipient.domain%/signin?email=%recipient.email%" target="_blank">
      Account Sign In
    </a>
  </span><br/>
  <br/>
  Thanks,<br/>
  <b>The Nitro Team</b>

{% endblock %}
